{% extends "/layout.twig" %}

{% block title %} {{parent()}} - Login{% endblock title %}
{#---Header---#}
{%block header%}
    <header class="bar-top"></header>
{%endblock header%}
    
{%block content%}
    <div class="span4 offset4 well2">
        <ul class="nav nav-pills" style="border-bottom: 1px solid rgb(180, 179, 179)">
            <li><a href="/profil"><i class="icon-eye-open"></i> View profil</a></li>
            <li><a href="/profil/modifier_password"><i class="icon-lock"></i> Edit password</a></li>
        </ul>
        <form method="POST" action="" accept-charset="UTF-8">
            <fieldset>
                <legend>Edit profile</legend>
                <input type="text" class="span4" name="nom" placeholder="Full Name" value="{{ set_value('nom', getsessionhelper()['nom']) }}" required="required"/>
                <div class="text-error">{{ form_error('nom') }}</div>
                <input type="text" id="email" class="span4" name="email" placeholder="Your Email" value="{{ set_value('email', getsessionhelper()['email']) }}" required="required"/>
                <div class="text-error">{{ form_error('email') }}</div>
                <input type="submit" name="submit" class="btn btn-block btn-inverse" value="Edit profile">
            </fieldset>
        </form>
    </div> 
{%endblock content%}

